{% load static %}


{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{{page.title}}</title>
        
        <style>
            body {
                color: #222;
            }
        
            h1 {
                background-color: #aaf;
                width: 100%;
                padding: 0.2em 0.5em;
            }
            
            p {
                border-left: 0.5em solid #aaf;
                padding-left: 1em;
            }
        </style>
    </head>
    <body>
        
        {% for block in object.content %}
            {% if block.block_type == 'heading' %}
                <h2>{{ block.value }}</h2>
            {% else %}
                {% include_block block %}
            {% endif %}
        {% endfor %}
        
        <form>
        <label for="question">What is your name?</label> <input style="width:50%" name="question"/>
        <br/>
        <label for="check">Checkbox</label> <input type="checkbox" name="check">
        </form>
        
        A static demo image:
        <br>
        <img style="width:50%;" src="{% static "butterfly.jpg"%}"/>

    </body>
</html>
